services:
  cms: 
    build: 
      context: .
      dockerfile: ./dockerfile
      target: development
    command: pnpm run start
    env_file:
      - ./.env
    ports: 
      - 3000:3000
  mongo:
    image: mongo
    ports: 
      - 27017:27017